@media screen and (min-width: 2000px) and (max-width: 2300px)
  .banner
    &__bottom
      margin-bottom: 7%

@media screen and (max-width: 1920px) and (max-height: 1040px)
  .banner
    &__bottom
      margin-bottom: 11%

@media screen and (width: 1707px) and (max-height: 830px)
  .banner
    &__bottom
      width: 80%
      margin-bottom: 7%
      &-txt
        font-size: 4vw

@media screen and (width: 1706px) and (min-height: 1280px)
  .banner
    &__bottom
      margin-bottom: 21%
    &__pers
      &-left
        left: -43px
      &-center
        left: 56%
      &-right
        right: -105px

@media screen and (max-width: 1600px)
  .banner
    &__bottom
      margin-bottom: 12%

@media screen and (max-width: 1600px) and (max-height: 830px)
  .banner
    &__bottom
      width: 83%
      margin-bottom: 8%
      &-txt
        font-size: 4vw

@media screen and (width: 1536px) and (max-height: 741px)
  .banner
    &__bottom
      margin-bottom: 6%

@media screen and (max-width: 1512px)
  .banner
    &__bottom
      margin-bottom: 13.5%

@media screen and (max-width: 1464px) and (max-height: 750px)
  .banner
    &__bottom
      margin-bottom: 11%

@media screen and (max-width: 1440px) and (min-height: 840px)
  .banner
    &__bottom
      margin-bottom: 17%

@media screen and (max-width: 1440px) and (max-height: 792px)
  .banner
    &__bottom
      margin-bottom: 8%

@media screen and (max-width: 1376px)
  .banner
    &__title
      margin-top: 35px
      font-size: 5vw
    &__pers
      &-left
        bottom: 17vh
        width: 45vh
      &-center
        left: 53%
        width: 39vh
        bottom: 37px
      &-right
        right: 0
        width: 41vh
        bottom: 12vh
    &__bottom
      margin-bottom: 30%

@media screen and (max-width: 1376px) and (max-height: 913px)
  .banner
    &__bottom
      margin-bottom: 27%

@media screen and (max-width: 1366px) and (max-height: 845px)
  .banner
    &__bottom
      margin-bottom: 27%
      width: 80%
      &-txt
        font-size: 4vw

@media screen and (max-width: 1366px) and (max-height: 768px)
  .banner
    &__title
      margin-top: 30px
    &__pers
      width: 85%
      margin-bottom: -20px
    &__bottom
      width: 65%
      margin-bottom: 22%
      &-txt
        font-size: 3vw

@media screen and (max-width: 1366px) and (max-height: 657px)
  .banner
    &__bottom
      width: 56%
      margin-bottom: 20%

@media screen and (max-width: 1350px)
  .banner
    &__pers
      &-left
        width: 57%
        bottom: 98px
      &-center
        width: 57%
        bottom: -52px
        left: 56%
      &-right
        width: 54%
        bottom: 55px
        right: -7px
    &__bottom
      width: 80%
      margin-bottom: 13%
      &-txt
        font-size: 3.5vw

@media screen and (max-width: 1302px)
  .banner
    &__pers
      margin-bottom: 100px
    &__bottom
      width: 90%
      margin-bottom: 27%
      &-txt
        font-size: 4.3vw

@media screen and (max-width: 1302px) and (min-height: 1000px)
  .banner
    &__pers
      margin-bottom: 170px
    &__bottom
      margin-bottom: 40%

@media screen and (max-width: 1280px)
  .banner
    &__pers
      margin-bottom: 0
    &__bottom
      margin-bottom: 19%

@media screen and (max-width: 1280px) and (max-height: 760px)
  .banner
    &__pers
      width: 90%
    &__bottom
      margin-bottom: 16%

@media screen and (max-width: 1280px) and (max-height: 675px)
  .banner
    &__pers
      width: 72%
    &__bottom
      width: 76%
      margin-bottom: 10%
      &-txt
        font-size: 4vw

@media screen and (max-width: 1259px) and (min-height: 1000px)
  .banner
    &__pers
      margin-bottom: 170px
    &__bottom
      margin-bottom: 45%

@media screen and (max-width: 1180px) and (min-height: 712px)
  .banner
    &__pers
      margin-bottom: 50px
    &__bottom
      margin-bottom: 24%

@media screen and (max-width: 1133px)
  .banner
    &__pers
      width: 99%
    &__bottom
      margin-bottom: 20%

@media screen and (max-width: 1133px) and (max-height: 625px)
  .banner
    &__pers
      margin-bottom: -40px
    &__bottom
      margin-bottom: 12%

@media screen and (max-width: 1120px) and (min-height: 800px)
  .banner
    &__pers
      margin-bottom: 100px
      width: 95%
    &__bottom
      margin-bottom: 32%

@media screen and (max-width: 1080px)
  .banner
    &__bottom
      margin-bottom: 14%

@media screen and (max-width: 1037px) and (min-height: 710px)
  .banner
    &__pers
      margin-bottom: 100px
    &__bottom
      margin-bottom: 33%

//tab
@media screen and (max-width: 1280px) and (min-height: 1240px)
  .banner
    &__title
      margin-top: 80px
      font-size: 5.2vw
    &__pers
      &-left
        margin-bottom: 360px
        width: 60%
      &-center
        width: 90%
      &-right
        margin-bottom: 335px
        width: 60%
    &__bottom
      margin-bottom: 53%

@media screen and (max-width: 1280px) and (min-height: 1700px)
  .banner
    &__pers
      &-left
        margin-bottom: 660px
        width: 60%
      &-center
        width: 90%
      &-right
        margin-bottom: 600px
        width: 60%
    &__bottom
      margin-bottom: 43%






//  .banner
//    background-position: 90% 50%
//
//@media screen and (max-width: 1600px) and (max-height: 875px)
//  .banner
//    background-position: 90% 20%
//
//@media screen and (max-width: 1440px)
//  .banner
//    &__title
//      &-top,
//      &-bottom
//        font-size: 3.4vw
//
//@media screen and (max-width: 1376px)
//  .banner
//    background-position: 50% 35%
//    &__title
//      &-top,
//      &-bottom
//        font-size: 3.8vw
//
//@media screen and (max-width: 1368px)
//  .banner
//    background-position: 70% 40%
//
//@media screen and (max-width: 1366px)
//  .banner
//    background-position: 100% 40%
//
//@media screen and (max-width: 1366px) and (max-height: 917px)
//  .banner
//    background-position: 50% 27%
//
//@media screen and (max-width: 1366px) and (max-height: 850px)
//  .banner
//    background-position: 50% 18%
//    &__title
//      &-top,
//      &-bottom
//        font-size: 3vw
//
//@media screen and (max-width: 1280px) and (max-height: 775px)
//  .banner
//    background-position: 50% 35%
//
//@media screen and (max-width: 1280px) and (max-height: 650px)
//  .banner
//    background-position: 50% 15%
//
//@media screen and (max-width: 1205px) and (max-height: 585px)
//  .banner
//    background-position: 50% 20%
//
//@media screen and (max-width: 1194px)
//  .banner
//    background-position: 100% 35%
//
//@media screen and (max-width: 1120px)
//  .banner
//    &__title
//      &-top,
//      &-bottom
//        font-size: 3.5vw
//
//@media screen and (max-width: 1120px) and (max-height: 720px)
//  .banner
//    &__title
//      &-top,
//      &-bottom
//        font-size: 3.3vw
//
//@media screen and (max-width: 1114px)
//  .banner
//    background-position: 84% 35%
//
//@media screen and (max-width: 1024px)
//  .banner
//    &__title
//      &-top,
//      &-bottom
//        font-size: 3.9vw
//
//@media screen and (max-width: 1024px) and (max-height: 710px)
//  .banner
//    background-position: 84% 21%
//    &__title
//      &-top,
//      &-bottom
//        font-size: 3.4vw
//
//@media screen and (max-width: 1280px) and (min-height: 1240px) and (orientation: portrait)
//  .banner
//    background-position: 50% 40%
//    &__title
//      margin-top: 55px
//
@media screen and (max-width: 1023px)
  .wrapper
    display: none
  .Layout_column__3MM83
    width: 100%