.wrapper
    .banner
        .banner__container
            .banner__title Ти майже у грі
            .banner__pers
                .banner__pers-left
                    img(src='img/boy-left.png' alt='boy')
                .banner__pers-center
                    img(src='img/boy-center.png' alt='boy')
                .banner__pers-right
                    img(src='img/boy-right.png' alt='boy')
            .banner__bottom
                .banner__bottom-txt Loading 90%
                .banner__bottom-img
                    img(src='img/loader.png' alt='loader')




